@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager

<EditForm Model="authModel" OnValidSubmit="ExecuteLogin">
    <div class="row">
        <div class="col-auto">
            <InputText class="form-control" aria-label="Email" @bind-Value="authModel.Email" placeholder="Email Address"/>
            <ValidationMessage For="@(()=> authModel.Email)"/>
        </div>


        <div class="col-auto">
            <InputText type="password" aria-label="Password" class="form-control" @bind-Value="authModel.Password" placeholder="Password"/>
            <ValidationMessage For="@(()=> authModel.Email)"/>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-success">Log In</button>
        </div>

        <div class="col-auto">
            <button type="button" class="btn btn-primary" @onclick="GoToRegister">Register</button>
        </div>
    </div>
</EditForm>

@code {
    private AuthenticationUserModel authModel = new();

    private async Task ExecuteLogin()
    {
        var result = await AuthService.Login(authModel);

        if (result != null)
            NavigationManager.NavigateTo("/");
    }

    private void GoToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
}
