@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span class="navbar-text">Welcome @(context.User.Identity.Name)!</span>
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout"/> Log Out
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <LoginWidget/>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
