<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Portal</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>



<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home"></span> Home
        </NavLink>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="verifyAuth">
                    <span class="oi oi-person"></span> Verify Authentication
                </NavLink>
            </div>  
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Cashier">
        <Authorized> 
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/products">
                    <span class="oi oi-layers"></span> Products
                </NavLink>
            </div>
        </Authorized>
    </AuthorizeView>
</nav>

@code {
   
}
